@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');
body {
  font-family: 'Noto Sans TC', sans-serif;
}
input,select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; 
  -ms-appearance: none;
  border: none; 
}
input:focus, input:hover ,select:focus {
  outline: none; 
  border-color: #555; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
[v-cloak] {
  display: none;
}
.header{
  transition: all .5s;
}
.header.is-active{
  width: 100%;
  left: 0;
  right: 0;
  top:0;
  border-radius: 0px;
  background-color: #4b4b4b;
}
@media (max-width:1024px){
  .header.is-active{
    background-color:#fff;
    box-shadow: 5px 5px 5px gray;
  }
}
/* swiper開始 */
.banner-Swiper{
  width: 100%;
  height: 100vh;
}
.video{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
/* swiper結束 */

/* 漢堡選單開始 */
.hamburger {
  position: relative;
  width: 50px;
  height:50px;
  cursor: pointer;
  overflow-x: hidden;
  z-index: 55;
}
.hamburger span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 30px;
  height: 3px;
  background-color:#FFFFFF;
  border-radius: 3px;
}
.hamburger span:first-child {
  margin-top: -0.5rem;
}
.hamburger span:last-child {
  margin-top: 0.5rem;
}
.hamburger.is-active span:first-child {
  margin-top: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg)
}

.hamburger.is-active span:nth-child(2) {
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  opacity: 0
}

.hamburger.is-active span:last-child {
  margin-top: 0;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg)
}
.mobile-nav {
  overflow: scroll;
  z-index:51;
  height: 100%;
  border-top:1px solid #00000029;
  box-shadow:0 1px 3px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: hidden;
  color: #3E3A39;  
  -webkit-transition: visibility .3s,-webkit-transform .3s; 
  transition: visibility .3s,-webkit-transform .3s;
  transition: transform .3s,visibility .3s; 
  transition: transform .3s,visibility .3s,-webkit-transform .3s
}
.mobile-nav.is-active {
  -webkit-transform: translateX(0);
   transform: translateX(0);
   visibility: visible
}
@media (max-width:1024px) {
  .hamburger {
    position: fixed;
    top: 0px;
    right: 0rem;
    width: 56px;
    height:56px;
    cursor: pointer;
    overflow-x: hidden;
    z-index: 11;
  }
  .hamburger span{
    background-color:#284B62;
  }
  .hamburger span:last-child {
    width: 20px;
    transform: translateX(-15px);
  }
  .hamburger.is-active .hamburger-line:last-child{
    width: 30px;
  }
  .hamburger.is-active{
    border: 1px solid #00000029;
    
  }
}
.pc-nav{
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform .3s,visibility .3s,-webkit-transform .3s;
  box-shadow: 5px 5px 10px hsla(240 , 40% , 15% , .6);
}
.pc-nav.is-active{
  transform: translateX(0);
  visibility: visible
}
.pc-list{
  height: 100vh;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pc-list>li{
  padding: 20px 0;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.open-list1:hover .pc-list1{
  visibility: visible;
  opacity: 1;
}
.pc-list1,.pc-list2,.pc-list2-1,.pc-list3{
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100vh;
  border-left: 1px solid #fff;
  flex-direction: column;
  padding-bottom: 65%;
  font-weight: 100;
  cursor: pointer;
  box-shadow: 5px 5px 10px hsla(240 , 40% , 15% , .6);
  transition: all .3s;
}
.pc-list2-1{
  padding-bottom: 83%;
}
.pc-list1>li, .pc-list2>li, .pc-list2-1>li,.pc-list3>li{
  margin: 10px 0;
  width: 100%;
  text-align: center;
}
.pc-list1>li:hover,.pc-list2>li:hover,.pc-list2-1>li:hover,.pc-list3>li:hover{
  font-weight: 400;
  background-color: #fff;
  color: #0070C0;
}

.open-list2:hover .pc-list2{
  visibility: visible;
  opacity: 1;
}
.open-list3:hover .pc-list2-1{
  visibility: visible;
  opacity: 1;
}
.open-list4:hover .pc-list3{
  visibility: visible;
  opacity: 1;
}
.pc-list a::after{
  content: '';
  position: absolute;
  border-bottom: 1px solid #fff;
  left: 50%;
  right: 50%;
  bottom: -10px;
  height: 1px;
  transition: .2s;
}
.pc-list li a:hover:after{
  left: 0;
  right: 0;
}
/* 手機選單 */
.mb-la{
  background-color:#00B0F0;
  transition:background-color .3s;
}
.language-menu-list{
  background-color: #EFEFEF;
  padding: 11px 25px;
}
.mb-list li > a{
  background-color: #EFEFEF;
  padding: 11px 25px;
  display: block;
}
.language-menu-list:hover{
  background-color:#00B0F0;
}
.mb-list-1 li > a{
  background-color: #fff;
  padding: 11px 50px;
}
.mb-list-1>li{
  background-color: #fff;
}
.mb-list-1-1 li > a{
  background-color: #fff;
  padding: 11px 75px;
}
.mb-dropdown{
  position: absolute;
  width: 16px;
  height: 16px;
  right: 20px;
  top: 50%;
  display: block;
  transform: translateY(-50%);
}
.mb-dropdown::before{
  content:"";
  background-color:#3E3A39;
  width: 16px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  transition: transform 0.4s ease;
}
.mb-dropdown::after{
  content:"";
  background-color:#3E3A39;
  width: 16px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  transform:rotate(90deg);
  transition: transform 0.4s ease;
}
.mb-dropdown.on::after{
  transform:rotate(0deg);
}
.mb-dropdown-Bg{
  background-color: #00B0F0 !important;
}
/* 漢堡選單結束 */
/* 搜尋欄開始 */
.pc-search{
  visibility: hidden;
  opacity: 0;
}
.search:hover + .pc-search{
  visibility: visible;
  opacity: 1;
}
.pc-search:hover.pc-search{
  visibility: visible;
  opacity: 1;
}
.nav-search::after {
  content: '✖';
  color: #fff;
  font-size: 32px;
  width: 100%; 
  height: 100%;
  position: absolute;
  left: 0; 
  top: 0;
  display: inline-block; 
  margin-left: 12px;
  visibility: hidden;
  opacity: 0;
}
.nav-search:hover.nav-search img{
  visibility: hidden;
  opacity: 0;
}
.nav-search:hover.nav-search::after{
  visibility: visible;
  opacity: 1;
}
.nav-search:hover + .pc-search{
  visibility: visible;
  opacity: 1;
}
/* has選擇器 讚 */
nav:has(.pc-search:hover) .nav-search::after{
  visibility: visible;
  opacity: 1;
}
nav:has(.pc-search:hover) .nav-search img{
  visibility: hidden;
  opacity: 0;
}
@media (max-width:768px){
  .img.is-active,.mb-search.is-active{
    display: none;
  }
}
.foot-search{
  padding: 15px 8%;
  height: 200px;
}
.Copyright{
  width: 250px;
  height: 100px;
  padding-left: 20px;
}
/* 搜尋欄結束 */
/* 多國語系開始 */
.dropdownMenu li{
  margin-top: 5px;
}
.language .active{
  display:block;
}
/* 多國語系結束 */
/* 聯絡我們開始 */
.contact-title{
  background:linear-gradient(#61C0EB, #2F94C2);
  padding: 30px 25px 28px 36px;
  font-family: Noto Sans TC serif;
}
.contact-title h6{
  padding-bottom: 20px;
}
.contact-form{
  margin-top: -20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  z-index: 55;
}
.contact-form input[type="text"],input[type="email"] {
  width: 341px;
  height: 57px;
  border: 1px solid #7A7A7A;
  border-radius: 7px;
  margin-top: 10px;
  padding:10px;
}
.contact-radio{
  width: 341px;
  height: 57px;
  border: 1px solid #7A7A7A;
  border-radius: 7px;
  margin-top: 10px;
}
.contact-radio input{
  appearance: auto;
  width: 15px;
  height: 15px;
}
.contact-submit{
  background-color: #002060;
  width: 340px;
  height: 63px;
  opacity: 1;
  transition: opacity .5s;
  color: #fff;
}
.contact-submit:hover{
  opacity: 0.8;
}
.contact-form textarea{
  margin: 10px 0;
  width: 341px;
  height: 130px;
  border-radius: 7px;
  border: 1px solid #7A7A7A;
  padding:10px;
}
.closeBox::after{
  content: '✖';
  position: absolute;
  width: 20px;
  height: 20px;
  top:20px;
  right: 20px;
  cursor: pointer;
}
/* 聯絡我們結束 */
/* 首頁內頁開始 */
.scroll{
  margin-top: -227px;
}
.scroll svg{
  position: relative;
  z-index: 30;
}
.circle-scroll {
  position: absolute;
  top: 84%;
  left: 49%;
  transform: translate(-50%,-50%);
  width: 100px; 
  height: 100px; 
  z-index: 51;
  animation-name: scroll;
  animation-duration:.8s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}
.circle-scroll img{
  position: absolute;
  z-index: 54;
  top: 75%;
  left: 49%;
  transform: translate(-50%,-50%);
}
@media (min-width:1920px){
  .scroll{
    display: block;
  }
  .about{
    margin-top: -85%;
  }
}
@keyframes scroll {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-30px);
  }
}
.about-text{
  padding-left: 5%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.load {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 50;
  cursor: pointer;
}
.loading {
  stroke: rgb(53, 157, 218);
  stroke-width: 1; 
  fill: none;
  stroke-dasharray: 130, 200;
  stroke-dashoffset: 130;
  transition: all .5s ease;
}
.load:hover .loading {
  stroke-dashoffset: 0;
}
.load:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  opacity: 0;
  transition: all .5s ease;
}
.load:hover::after {
  width: 60px;
  height: 60px;
  opacity: 0.5;
}
.process{
  padding-bottom:300px;
}
.process-text{
  color:#0070C0;
  font-weight:900;
}
.item-inner{
  background-color:#EBF7FF;
  color: #002060;
}
.item-inner-1{
  display: flex;
}
.item-inner-1::before{
  content: "";
  position: absolute;
  width: 45px;
  height: 1px;
  background-color: #002060;
  top:40px;
  left: -40px;
  z-index: 1;
}
.tal{
  font-size: 50px;
  font-weight: 900;
  padding-left: 20px;
}
.process-btn{
  position: absolute;
  bottom: -8%;
  right: 10%;
}
.item-inner:nth-child(1){
  top:250px;
}
.item-inner:nth-child(2){
  top:180px;
}
.item-inner:nth-child(3){
  top:100px;
}
.item-inner:nth-child(4){
  top:0px;
}
@media (max-width:1024px) {
  .item-inner-1::before{
    width: 30px;
    left: -25px;
  }
  .item-inner:nth-child(1){
    top:250px;
  }
  .item-inner:nth-child(2){
    top:230px;
  }
  .item-inner:nth-child(3){
    top:210px;
  }
  .item-inner:nth-child(4){
    top:190px;
  }
  .process-btn{
    bottom: -5%;
    right: 35%;
  }
}
@media (max-width:768px) {
  .item-inner-1::before{
    width: 0px;
  }
  .item-inner:nth-child(1){
    top:150px;
  }
  .item-inner:nth-child(2){
    top:180px;
  }
  .item-inner:nth-child(3){
    top:210px;
  }
  .item-inner:nth-child(4){
    top:240px;
  }
  .process-btn{
    bottom: -3%;
    right: 20%;
  }
}
.dropdown-list{
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s;
  background-color: #fff;
  color: #0070C0;
}
.dropdown-list.open{
  max-height: 600px; 
}
.dropdown-list>li{
  padding: 30px 0;
  border-bottom: 1px solid #0070C0;
}
.Solution-number::after{
  content: '';
  position: absolute;
  right: 45%;
  border-right: 1px solid #818181;
  height: 300px;
  transform: rotate(25deg);
}
.Solution-numbers::after{
  content: '';
  position: absolute;
  right: 10%;
  top: -30%;
  border-right: 1px solid #818181;
  height: 300px;
  transform: rotate(25deg);
}
@media (max-width:1400px){
  .Solution-number::after{
    height:250px;
    right: 42%; 
  }
  .Solution-numbers::after{
    height:250px;
    right: 10%;
  }
}
@media (max-width:1024px){
  .Solution-number::after{
    height:250px;
    right: 38%; 
  }
  .Solution-numbers::after{
    height:250px;
    right: 10%;
  }
}
@media (max-width:768px){
  .Solution-number::after{
    height:220px;
    right: 70%; 
    transform: rotate(20deg);
  }
  .Solution-numbers::after{
    height:220px;
    right: 25%;
    bottom: 0%;
    top: 5%;
    transform: rotate(20deg);
  }
}
.news-link{
  padding: 1.7rem 3rem 1rem 0;
  min-height: 10rem;
  display: block;
  position: relative;
}
@media (min-width:829px){
  .news-link{
    padding: 1.7rem 8rem 1rem 0;
    min-height: 14rem;
    display: block;
    position: relative;
  }
}
.news-menu>li{
  border-top:1px solid #E6E6E6;
}
.news-tag{
  display: inline-block;
  line-height: 1;
  border: 1px solid #0070C0;
  border-radius: 100vmax;
  color: #0070C0;
  padding: 0.2rem 1rem;
}
.arrow-icons{
  position: absolute;
  bottom: 1rem;
  right: 0;
  background-color: #c8c8cf;
  scale: .2666667;
  border-radius: 50%;
  display:inline-grid;
  place-items:center;
  width: 3rem;
  height: 3rem;
  transition: color .2s ease-out;
  transition: all .2s;
  overflow: hidden;
}
.news-link:hover .arrow-icons{
  scale: 0.8;
}
.news-link:hover .arrow-icons::after{
  background-color: white;
  animation: arrow-icon-move 0.8s infinite;
}
.arrow-icon a{
  transition: color .2s ease-out;
}
.arrow-icon a:hover{
  color: #0070C0;
}
.arrow-icon span{
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display:inline-grid;
  place-items:center;
  background-color: #343538;
  transition: color .2s ease-out;
  overflow: hidden;
}
.arrow-icon span::after ,.arrow-icons::after{
  content: "";
  display: block;
  width: 1.3rem;
  aspect-ratio:1;
  background-color: #fff;
  -webkit-mask: url(../img/img/arrow-right..svg) 50% 50%/contain no-repeat;
}
.arrow-icon a:hover span,.news-link:hover .arrow-icons{
  background-color: #0070C0;
}
.arrow-icon a:hover span::after{
  background-color: white;
  animation: arrow-icon-move 1s infinite;
}
@media (max-width:768px){
  .arrow-icon span{
    width: 45px;
    height: 45px;
  }
  .arrow-icons{
    bottom: 0.5rem;
  }
}
@keyframes arrow-icon-move {
  0%{
    transform: translateX(-15px);
  }100%{
    transform: translateX(35px);
  }
}
.product-icon{
  transition: all .3s;
}
.product-icon.on{
  transform: rotate(90deg);
}
/* 首頁內頁結束 */
/* footer */
.footer-container{
  color:#A2A2A2;
  padding-top: 0.5rem;
}
.footer-container>li{
  padding-bottom: 5px;
}
.footer-containers::after{
  content: '';
  border-bottom: 1px solid #A2A2A2;
  position: absolute;
  top: 40px;
  left: 0;
  width: 150px;
}
@media (min-width:1280px) and (max-width:1350px){
  .footer-containers::after{
    width: 120px;
  }
}
@media (max-width:768px){
  .footer-icon img{
    width: 39px;
    height: 39px;
  }
}
/* 選單 */
.nav{
  background-color: #fff;
  box-shadow: 5px 5px#D0D0D0;
  z-index: 50;
}
@media (max-width:1024px){

}
.pc-nav-list{
  width: 100%;
  height: 100%;
}
.pc-nav-list li{
  width: 100%;
  height: 100%;
}
.pc-nav-list-a{
  position: relative;
  width: 140px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: self-end;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 20px;
}
.pc-nav-list-a::after{
  content: '';
  position: absolute;
  border-bottom: 5px solid #00B0F0;
  left: 50%;
  right: 50%;
  bottom: 0px;
  height: 1px;
  transition: .2s;
}
.pc-nav-list-a:hover:after{
  left: 0;
  right: 0;
}
.pc-nav-list-1{
  background-color: #E2F7FF;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  font-size: 20px;
  font-family: Noto Sans TC Regular;
}
.pc-nav-list-1 li{
  width: 205px;
}
.pc-nav-list-1 li a ,.pc-nav-list-2 li a{
  position: relative;
  display: block;
  transition: color 0.5s ease;
}
.pc-nav-list-1 li a:hover{
  color: #0070C0;
}
.pc-nav-list-1 li , .pc-nav-list-2 li{
  border-bottom:2px solid rgba(29, 43, 59, 0.2);
  padding-bottom: 11px;
}
.pc-nav-list-1 li a::before{
  content: '';
  background-color: #0E5DA8;
  height: 2px;
  width: 40px;
  position: absolute;
  left: 0;
  bottom: -13px;
  display: block;
  transition: width 0.4s ease;
}
.pc-nav-list-1 li a:hover:before{
  width: 100%;
}
.pc-nav-list-1 li a::after{
  content: '';
  background:url(../img/img/pc-nav-more-arrow.svg);
  width: 12px;
  height: 9px;
  position: absolute;
  right: 2px;
  top: 50%;
  display: block;
  transition: right 0.4s ease;
}
.pc-nav-list-1 li a:hover:after,.pc-nav-list-2 li a::after{
  right: -2px;
}
.list1-1{
  visibility: hidden;
  opacity: 0;
  transition:opacity .5s;
}
.list1:hover .list1-1{
  visibility: visible;
  opacity: 1;
}
.list2-1 li{
  width: 230px;
}
.list3-1 , .list2-1 , .list4-1{
  visibility: hidden;
  opacity: 0;
  transition:opacity .5s;
}
.list2:hover .list2-1{
  visibility: visible;
  opacity: 1;
}
.list3:hover .list3-1{
  visibility: visible;
  opacity: 1;
}
.list4:hover .list4-1{
  visibility: visible;
  opacity: 1;
}
@media (max-width:1560px){
  .pc-nav-list li a{
    width: 120px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size:16px;
  }
}
@media (max-width:1280px){
  .pc-nav-list li a{
    width: 100px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size:14px;
  }
}
/* 關於廣化開始 */
.company-profile{
  background-image: url(../../img/banner/about-bg.svg);
  background-size: 587px auto;
}
@media (max-width:768px){
  .company-profile{  
    background-size: 100% auto;
  }
}
.about-border::after{
  content: '';
  position: absolute;
  bottom: -15px;
  right: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 7px solid #00B0F0;
  width: 191px;
  border-radius: 5px;
}
.mb-about-border::after{
  content: '';
  position: absolute;
  bottom: -10px;
  right: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-bottom: 10px solid #00B0F0;
  width: 112px;
  border-radius: 10px;
}
@media (max-width:768px){
  .about-border::after{
    content: '';
    position: absolute;
    bottom: -10px;
    right: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-bottom: 5px solid #00B0F0;
    width: 50%;
    border-radius: 10px;
  }
}
.event-list:nth-child(even){
  background-color: #F2F2F2;
}
/* 樹狀圖 */
.tree li {
  position: relative;
  z-index: 1;
}
.tree>li::before {
  content: "";
  position: absolute;
  left: 50%;
  border-left: 1px solid black;
  height: 100%;
  z-index: -1;
}
.tree li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-left: 1px solid black;
  height: 50%;
  transform: translateY(100%);
  z-index: -1;
}
.tree>li:first-child::before{
  display: none !important;
}
.treeson>li::before{
  content: "";
  position: absolute;
  left: 50%;
  border-left: 1px solid black;
  height: 100px;
  z-index: -1;
  transform: translateY(-30%);
}
.treeson>li::after{
  content: "";
  position: absolute;
  top: -18.5%;
  left: -36%;
  border-top: 1px solid black;
  width: 318px;
  height: 0px;
  z-index: 2;
  transform: translateX(-25%);
}
.treeson>li:first-child::after{
  display: none !important;
}
.Idealist{
  max-width: 1126px;
}
.Idealist>li{
  display: flex;
  text-align: left;
  letter-spacing: 0.1em;
  padding-top: 10px;
  font-size: 18px;
}
@media (max-width:768px){
  .treeson>li::before{
    transform: translateY(-20%);
  }
  .Idealist>li{
    font-size: 16px;
  }
}
/* 得獎榮耀 */
.scroll-container {
  position: relative;
  overflow: hidden;
  height: 590px;
  width: 100%;
}
.scroll-content {
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  display: flex;
}
.Award-box{
  border-right: 1px solid #E9E9E9;
  position: relative;
}
.scroll-bar {
  position: relative;
  margin-top: 100px;
  height: 3px;
  width: 90%;
  background-color: gray;
}
.scroll-thumb {
  position: absolute;
  top: -15px;
  left: 0;
  height: 35px;
  width: 71px;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
}
.scroll-thumb-img{
  position: absolute;
  right:10px;
  top : 8px;
  width: 10px;
  height: 15px;
}
.scroll-thumb-img1{
  position: absolute;
  left: 10px;
  top : 8px;
  width: 10px;
  height: 15px;
  transform: rotate(180deg);
}
@media (max-width:768px){
  .scroll-bar{
    margin-top: 20px;
  }
}
.about-count>li{
  padding-top: 10px;
}
.aboutnav>li{
  color: #BBBBBB;
  padding-top: 20px;
}
.scrollTop.active{
  color: #002060;
  font-weight: 700;
  position: relative;
}
.scrollTop.active::before{
  content: '';
  position: absolute;
  left: -15px;
  top: 8px;
  width: 7px;
  height: 8px;
  background-color: #002060;
  border-radius: 50%;
}
/* 關於廣化結束*/
/* 搜尋 */
.card-img:hover img{
  transform: scale(1.05);
}
.look-border::after{
  content: '';
  position: absolute;
  bottom: -30px;
  right: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 7px solid #00B0F0;
  width: 30%;
  border-radius: 5px;
}
@media (max-width:768px){
  .look-border::after{
    border: 5px solid #00B0F0;
    bottom: -40px;
    width: 60%;
  }
}
.more-btn{
  overflow: hidden;
}
.more-btn:hover a{
  transition: all .3s;
  transform: scale(1.2);
  background-color: #002060;
}
.more-btn:hover p{
  transition: all .3s;
  color: #fff;
}
.more-btn:hover .moreimg{
  display: none;
}
.more-btn:hover .moreimg1{
  display: block;
}
/* 搜尋結束 */
/* 最新消息 */
.newsBg{
  position: relative;
  max-height: 650px;
  max-width: 100%;
  object-fit: cover;
}
.newsBg>img{
  max-height: 650px;
  width: 100%;
  display: block;
  object-fit: cover;
}
.news-tags span::after{
  content: '#TECHNOLOGY';
  background-color: #0070C0;
  padding: 5px 9px;
}
.news-tags span:nth-child(2)::after{
  background-color: #00B0F0;
}
.news-tags span:nth-child(3)::after{
  background-color: #AD00C0;
}
.news-tags span:nth-child(4)::after{
  background-color: #FF8800;
}
.news-tags span:nth-child(6)::after{
  background-color: #00B0F0;
}
.news-tags span:nth-child(7)::after{
  background-color: #AD00C0;
}
.news-tags span:nth-child(8)::after{
  background-color: #FF8800;
}
.select-year{
  width: 100px;
  padding-left: 10px;
}
.select-year-img{
  position: relative;
  top: 0%;
  left: -30%;
  pointer-events: none;
  width: 1rem;
}
.news-shadow{
  box-shadow: 0px 3px 6px #00000029;
}
.news-mb-pagination .swiper-pagination-bullet{
  width: 17px;
  height: 17px;
  border: 1px solid #0070C0;
  background-color: #fff;
}
.news-mb-pagination .swiper-pagination-bullet-active{
  background-color: #0070C0;
}
@media (max-width:768px){
  .news-shadow{
    box-shadow:none;
  }
}
/* 最新消息結束 */
/* 技術情報開始 */
.hoverback{
  transition: all .3s;
}
.hoverback:hover{
  background-color: #00B0F0;
}
.hoverback:hover.hoverback span{
  color: white;
}
/* 技術情報結束 */