<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../Css/3S.css">
  <link rel="stylesheet" href="../../Css/layout.css">
  <title>技術情報</title>
</head>
<body>
  <div id="app">
    <My-header :selected="selected" :languageshow="Showlanguage" :indexs="indexs" @emitProduct="getProduct" @emitLanguage="getoption"
    @select-option="selectOption" @mb-dropdown="mbDropdown" @mb-dropdownlist="mbDropdownlist"@mb-dropdownlanguages="dropdownLanguage"></My-header>
  <!-- Toast -->
    <div class="h-16 bg-bgGray justify-start items-center hidden | md:flex">
     <ul class="flex ml-10">
       <li class="center mr-3">
         <img src="../../img/img/Toast-home.svg">
       </li>
       <li class="flex mr-3" v-for="item in toast" :key="item.title">
         <a href="" class="flex">
           <img src="../../img/img/Toast-arrow.svg">
           <p class="pl-2 text-text">{{item.title}}</p>
         </a>
       </li>
     </ul>
   </div>
   <main>
      <section class="max-w-400 mx-auto pt-10 pb-5">
        <div class="px-5 aboutTitle">
          <h2>News</h2>
          <h2 class="md:pt-5 lg:pt-10">技術情報</h2>
        </div>
        <div>
          <div class="mt-5 px-5 md:mt-10">
            <div class="flex border border-[#707070] w-[331px] h-[51px] | md:w-[488px]">
              <input type="text" placeholder="輸入關鍵字搜尋" class="w-full px-5">
              <button type="button" class="w-[50px] bg-white center | md:w-[61px] border-l border-[#707070]">
                <img src="../../img/img/news-search.svg" alt="搜尋" class="w-6">
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="max-w-400 mx-auto">
        <div class="flex justify-start items-center mt-10 | lg:mt-20">
          <div class="flex w-full mx-auto px-5">
            <div class="flex">
              <p class="text-bluetext pr-5">年份</p>
              <span class="border-r border-bluetext"></span>
            </div>
            <div class="text-bluetext px-8 flex gap-5">
              <select class="select-year">
                <option value="">全部</option>
                <option value="" v-for="item in searchResult">{{item.year}}</option>
              </select>
              <img src="../../img/img/news-bluearrow.svg" class="select-year-img">
            </div>
          </div>
        </div>
      </section>
      <section class="max-w-400 mx-auto mt-10 | md:mt-20 | lg:mt-28">
        <div class="mt-5 flex flex-wrap gap-5 px-5">
          <div class="w-full border mb-5 border-[borderGray] overflow-hidden | md:w-[48%] | xl:w-[32%]" v-for="item in searchResult" :key="item.title"
          style="box-shadow: 0px 3px 6px #00000029;">
          <div class="max-w-[768px] max-h-[615px] flex flex-col px-2">
            <div class="w-full object-cover card-img">
              <img :src="item.imageUrl" alt="item.title" class="ease-in-out duration-300">
            </div>
            <div class="w-full flex justify-between px-5 pt-3">
              <p>{{item.time}}</p>
              <div class="px-2 py-1 text-white bg-[#0070C0]">
                <p>{{item.lable}}</p>
              </div>
            </div>
            <div class="px-5 py-5 md:pt-5 md:pb-10">
              <p class="font-bold pb-10">{{item.title}}</p>
              <p class="pb-10 h-[48px] whitespace-nowrap overflow-hidden text-ellipsis">{{item.content}}</p>
            </div>
            <div class="px-2 pb-2 flex justify-between | md:px-5">
              <div class="center gap-2">
                <img src="../../img/img/look-time.svg" alt="觀看次數">
                <p class="text-sm | md:text-base">{{item.watch}}</p>
              </div>
              <div class="border border-[#002060] more-btn">
                <a href="../Technology/Detail.html" class="block center w-[145px] h-[35px] | md:w-[221px] md:h-[52px]">
                  <div class="flex gap-3 center h-full">
                    <p class="text-[#002060]">查看更多</p>
                    <img src="../../img/img/search-right.svg" class="moreimg">
                    <img src="../../img/img/arrow.svg" width="27" class="hidden moreimg1">
                  </div>
                </a>
              </div>
            </div>
          </div>
          </div>
         </div>
      </section>
      <section class="px-5">
        <div class="my-10 max-w-[1277px] h-[60px] mx-auto flex justify-between border border-[#DEDEDE] | md:h-[82px]">
          <div class="center px-[5%] text-[#002060]">
            <span>1</span>
            <div class="border border-borderGray w-20 md:w-40 mx-5"></div>
            <span>5</span>
          </div>
          <div class="flex w-[120px] md:w-[200px]">
            <button type="button" class="w-1/2 border-l border-[#DEDEDE] center">
              <img src="../../img/img/page-left-arrow.svg">
            </button>
            <button type="button" class="w-1/2 border-l border-[#DEDEDE] center">
              <img src="../../img/img/page-right-arrow.svg">
            </button>
          </div>
        </div>
      </section>
   </main>
   <!-- 聯絡我們表單 -->
  <My-contact></My-contact>
  <My-footer @emitProduct="getProduct"></My-footer>  
  </div>
  <script src="../../Js/package/jquery-3.6.0.min.js"></script>
  <script src="../../Js/package/aos.js"></script>
  <script type="module" src="../../Js/Technology/index.js"></script>
</body>
</html>