<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../Css/3S.css">
  <link rel="stylesheet" href="../../Css/layout.css">
  <title>搜尋結果</title>
</head>
<body>
<div id="app">
  <My-header :selected="selected" :languageshow="Showlanguage" :indexs="indexs" @emitProduct="getProduct" @emitLanguage="getoption"
  @select-option="selectOption" @mb-dropdown="mbDropdown" @mb-dropdownlist="mbDropdownlist"@mb-dropdownlanguages="dropdownLanguage"></My-header>
  <!-- Toast -->
  <div class="h-16 bg-bgGray justify-start items-center hidden | md:flex">
    <ul class="flex ml-10">
      <li class="center mr-3">
        <img src="../../img/img/Toast-home.svg">
      </li>
      <li class="flex mr-3" v-for="item in toast" :key="item.title">
        <a href="" class="flex">
          <img src="../../img/img/Toast-arrow.svg">
          <p class="pl-2 text-text">{{item.title}}</p>
        </a>
      </li>
    </ul>
  </div>
<main>
  <section class="px-5 py-10" style="background-image: url(../../img/banner/about-bg1.png);">
    <div class="max-w-400 mx-auto mt-10">
      <p class="text-xl font-bold | md:text-3xl">搜尋字詞的搜尋結果:<自動化機></p>
      <div class="flex justify-between mt-5 h-[46px] bg-bgBlue px-5">
        <div class="center gap-5 text-white">
          <p>分類</p>
          <p>價格</p>
        </div>
        <div class="center text-white">
          <p>排序方式</p>
        </div>
      </div>
      <!-- 結果 -->
      <div class="mt-10 | md:mt-14">
        <p class="font-semibold"><span class="pr-2">{{totalItems}}</span>件商品</p>
        <!-- 卡片 -->
        <div class="mt-5 flex flex-wrap gap-5 px-5">
          <div class="w-full border mb-5 border-[borderGray] overflow-hidden | md:w-[48%] | xl:w-[32%]" v-for="item in searchResult" :key="item.title"
          style="box-shadow: 0px 3px 6px #00000029;">
          <div class="max-w-[500px] max-h-[615px] flex flex-col">
            <div class="w-full max-h-[310px] object-cover card-img">
              <img :src="item.imageUrl" alt="item.title" class="ease-in-out duration-300">
            </div>
            <div class="w-full flex justify-between px-5 pt-3">
              <p>{{item.time}}</p>
              <div class="px-2 py-1 text-white bg-[#0070C0]">
                <p>{{item.lable}}</p>
              </div>
            </div>
            <div class="px-5 py-5 md:pt-5 md:pb-10">
              <p class="font-bold pb-10">{{item.title}}</p>
              <p class="pb-10 h-[48px] whitespace-nowrap overflow-hidden text-ellipsis">{{item.content}}</p>
            </div>
            <div class="px-2 pb-2 flex justify-between | md:px-5">
              <div class="center gap-2">
                <img src="../../img/img/look-time.svg" alt="觀看次數">
                <p class="text-sm | md:text-base">{{item.watch}}</p>
              </div>
              <div class="border border-[#002060] more-btn">
                <a href="" class="block center w-[145px] h-[35px] | md:w-[221px] md:h-[52px]">
                  <div class="flex gap-3 center h-full">
                    <p class="text-[#002060]">查看更多</p>
                    <img src="../../img/img/search-right.svg" class="moreimg">
                    <img src="../../img/img/arrow.svg" width="27" class="hidden moreimg1">
                  </div>
                </a>
              </div>
            </div>
          </div>
          </div>
         </div>
      </div>
      <div class="my-10">
        <div class="text-center relative">
          <p class="text-[#002060] tracking-widest look-border">您查看了<span>{{totalItems}}</span>/<span>{{totalItems}}</span>件產品</p>
        </div>
      </div>
    </div>
  </section>
</main>
   <!-- 聯絡我們表單 -->
  <My-contact></My-contact>
  <My-footer @emitProduct="getProduct"></My-footer>
</div>
  <script src="../../Js/package/jquery-3.6.0.min.js"></script>
  <script src="../../Js/package/aos.js"></script>
  <script type="module" src="../../Js/Home/Search.js"></script>
</body>
</html>