<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../Css/3S.css">
  <link rel="stylesheet" href="../../Css/swiper-bundle.min.css">
  <link rel="stylesheet" href="../../Css/aos.css">
  <link rel="stylesheet" href="../../Css/layout.css">
  <link rel="stylesheet" href="../../Css/mountain.css">
  <title>廣化科技股份有限公司</title>
</head>
<body>
  <main id="app">
  <header>
      <nav>
        <div class="fixed w-full justify-between flex items-center h-14 z-[56] bg-white transition-all
        duration-300 header | lg:justify-start lg:h-20 lg:bg-transparent">
          <div class="ml-5 w-1/3 z-50 | lg:w-1/5">
            <picture>
              <source srcset="../../img/img/mb-logo.svg" media="(max-width:1024px)">
              <img src="../../img/img/3S.logo.svg" alt="logo" class="img">
            </picture>
          </div>
          <div class="relative center top-3 right-12 w-12 h-12 block | lg:hidden">
            <img src="../../img/img/mb-search.svg" alt="search" width="25" class="mb-search">
          </div>
          <div class="hamburger" v-on:click="hamburgerMenu()">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
          </div>
          <div class="w-12 h-12 ml-3 cursor-pointer z-50 relative nav-search justify-center hidden | lg:flex">
            <img src="../../img/img/search.svg" alt="search" width="28">
          </div>
       <!-- 搜尋欄 -->
          <div class="w-full h-[344px] bg-[#0070C0] fixed top-0 z-40 pc-search">
            <div class="absolute top-1/3 left-[15%]">
              <h2 class="text-white text-5xl font-bold">Search</h2>
              <div class="border border-white rounded-full flex mt-5 w-[600px] h-12">
                <input type="text" class="bg-transparent w-[530px] text-white ml-7 text-xl" placeholder="請輸入關鍵字搜尋">
                <button type="button">
                  <img src="../../img/img/search.svg" alt="logo" width="32">
                </button>
              </div>
            </div>
          </div>
      <!-- 多國語系pc -->
        <div class="language absolute top-6 right-10 w-[103px] text-base z-50 cursor-pointer hidden | lg:block"
          v-on:click="dropdown()">
            <div class="center h-11">
              <span class="text-white inline-block mr-2">{{ selected ? selected.label : '繁體中文' }}</span>
              <img src="../../img/img/pc-earth.svg" alt="Earth">
            </div>
            <div class="dropdownMenu border-t border-white hidden">
              <ul class="text-white" v-for="option in options" :key="option.value"
              @click="selectOption(option)">
                <li>{{ option.label }}</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- pc選單 -->
        <div class="pc-nav fixed left-0 min-h-screen w-1/5 bg-[#0070C0] z-[55] hidden | lg:block">
          <ul class="text-white text-[22px] block pc-list w-full">
            <li class="open-list1">
              <a href="../Home/About.html" class="relative">關於我們</a>
              <ul class="absolute top-0 left-full w-full bg-[#0070C0] center pc-list1">
                <li class="pc-list-1">
                  <a href="../Home/about.html#1">公司簡介</a>
                </li>
                <li class="pc-list-1">
                  <a href="../Home/about.html#4">經營理念</a>
                </li>
                <li class="pc-list-1">
                  <a href="../Home/about.html#2">基本介紹</a>
                </li>
                <li class="pc-list-1">
                  <a href="../Home/about.html#5">得獎榮耀</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="../News/index.html" class="relative">最新消息</a>
            </li>
            <li class="open-list2">
              <a href="" class="relative">產品資訊</a>
              <ul class="absolute top-0 left-full w-full bg-[#0070C0] center pc-list2">
                <li class="open-list3" v-for="product in productList" :key="product.parents">
                  <a href="">{{product.parents}}</a>
                  <ul class="absolute top-0 left-full w-full bg-[#0070C0] center pc-list2-1 text-white text-[22px]" v-if="product.son.length > 0">
                    <li class="" v-for="productSon in product.son">
                      <a href="">{{productSon}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="../Technology/index.html" class="relative">技術情報</a>
            </li>
            <li>
              <a href="" class="relative">投資人專區</a>
            </li>
            <li>
              <a href="" class="relative">實績案例</a>
            </li>
            <li>
              <a href="" class="relative">永續發展</a>
            </li>
            <li class="open-list4">
              <a href="" class="relative">人力資源</a>
                <ul class="absolute top-0 left-full w-full bg-[#0070C0] center pc-list3">
                  <li class="">
                    <a href="">財務資訊</a>
                  </li>
                  <li>
                    <a href="">公司年報</a>
                  </li>
                  <li>
                     <a href="">股東專區</a>
                  </li>
                 </ul>
            </li>
          </ul>
        </div>
        <!-- mobile選單 -->
        <div class="mobile-nav fixed top-14 left-0 bg-white w-full min-h-screen block | lg:hidden">
        <div class="relative" style="min-height: calc(100% - 100px);">
          <div class="h-14 flex justify-end">
            <div class="w-14 h-14 border border-[#00000029] border-t-0 center bg-white" v-on:click="dropdownLanguage()"
            :class="{'mb-la':languageShow}">
              <img src="../../img/img/mb-earth.svg" alt="mb-earth">
            </div>
          </div>
          <ul class="language-menu" v-show="languageShow">
            <li class="language-menu-list" v-for="option in options" :key="option.value">{{ option.label }}</li>
          </ul>
          <div v-show="!languageShow">
            <ul class="mb-list">
              <li>
                <a href="javascript:;" class="relative" v-on:click="mbDropdown(1)">關於廣化
                  <button type="button" class="mb-dropdown mb-dropdown1"></button>
                </a>
                <ul id="dropdown1" class="mb-list-1 hidden" >
                  <li><a href="#">公司簡介</a></li>
                  <li><a href="">經營理念</a></li>
                  <li><a href="">基本介紹</a></li>
                  <li><a href="">得獎榮耀</a></li>
                </ul>
              </li>
              <li><a href="">最新消息</a></li>
              <li>
                <a href="javascript:;" class="relative" v-on:click="mbDropdown(2)">產品資訊
                <button type="button" class="mb-dropdown mb-dropdown2"></button>
              </a>
                <ul id="dropdown2" class="mb-list-1 hidden" >
                  <li v-for="(product,index) in productList" :key="product.parents" v-on:click="mbDropdownlist(index)">
                    <a href="#" class="relative" :class="{'mb-dropdown-Bg': indexs===index}">{{product.parents}}
                      <button type="button" class="mb-dropdown" :class="'dropdowns' + index" v-if="product.son.length > 0"></button>
                    </a>
                    <ul :id="'dropdowns' + index" class="mb-list-1-1 hidden" v-if="product.son.length > 0">
                      <li v-for="productSon in product.son">
                        <a href="">{{productSon}}</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="">技術情報</a></li>
              <li><a href="javascript:;" class="relative"v-on:click="mbDropdown(3)">投資人專區
                <button type="button" class="mb-dropdown mb-dropdown3"></button>
              </a>
                <ul id="dropdown3" class="mb-list-1 hidden">
                  <li>
                    <a href="">財務資訊</a>
                  </li>
                  <li>
                    <a href="">股東專區</a>
                  </li>
                  <li>
                    <a href="">公司年度
                    </a>
                  </li>
                </ul>
              </li>
              <li><a href="">實績案例</a></li>
              <li><a href="">永續發展</a></li>
              <li><a href="">人力資源</a></li>
            </ul>
          </div>
          <!-- 手機搜尋欄 -->
          <div class="foot-search">
            <div class="border border-[#707070] rounded-lg w-[322px] h-[44px] center bg-white">
              <input type="text" placeholder="輸入關鍵字搜尋" class="w-[250px] h-[40px]">
              <button class="w-[50px] h-full border-l border-[#707070] relative">
                <img src="../../img/img/mb-search.svg" alt="搜尋" class="absolute left-[40%] bottom-[25%] inline-block">
              </button>
            </div>
            <div class="flex gap-3 mt-2 ml-3">
              <img src="../../img/img/fb.svg" alt="fb" width="45">
              <img src="../../img/img/in.svg" alt="icon" width="45">
              <img src="../../img/img/youtube.svg" alt="youtube">
            </div>
          </div>
        </div>
        <div class="text-[#235E7A] text-xs Copyright">
          <p>Copyright © 2023 廣化科技股份有限公司. All Rights Reserved.</p>
        </div>    
        </div>
      </nav>
      <!-- 首頁banner -->
      <div class="swiper banner-Swiper  hidden | lg:block">
          <div class="swiper-wrapper">
              <div class="swiper-slide video">
                <video autoplay loop muted playsinline class="banner-video hidden | md:block" src="../../img/video/3S 01_1.mp4" type="video/mp4"></video>
              </div>
              <div class="swiper-slide">
                <img src="../../img/banner/index_bn.jpg" alt="首頁廣告圖" >
              </div>
              <div class="swiper-slide">
                <img src="../../img/banner/廣化公司bn.jpg" alt="首頁廣告圖">
              </div>
          </div>
          <div class="swiper-pagination index-pagination"></div>
      </div>
      <div class="w-full h-full block | lg:hidden">
        <img src="../../img/banner/mb_bn.jpg" class="w-full h-full object-cover">
      </div>
  </header>
  <!-- About Us -->
  <section>
    <div class="center scroll hidden">
      <svg viewBox="0 0 50 50">
        <path d="M 0 50 A 55 55 0 0 1 50 50 Z" fill="white" stroke="none"
        transform="translate(0, -44)"></path>
      </svg>
      <div class="circle-scroll">
        <p class="text-[#00B0F0] center">Scroll</p>
        <img src="../../img/img/pc-scroll.png" alt="scroll">
      </div>
    </div>
    <div class="px-3 about | md:center">
      <div class="about-text w-full | md:w-1/2" >
        <div class="flex flex-col">
          <p class="text-[#0070C0] pt-5 | md:text-[25px]">關於廣化</p>
          <h2 class="text-[#000000] text-[58px] font-bold | md:text-[68px] | lg:text-[88px] xl:text-[100px]">About Us</h2>
          <div class="text-[#000000] tracking-wide flex | lg:text-[25px]">
            <span>1.</span>
            <p>深耕於功率器件封裝設備領域，可提供客戶第一流的系統設備(system)、
              解決方案(solution)及完整服務(service)。<br></p>
          </div>
          <div class="text-[#000000] tracking-wide flex | lg:text-[25px]">
            <span>2.</span>
            <p>具多元化背景，高度合作的穩定經營團隊，知識經驗豐富，並不斷在與
              客戶合作中，求創新突破，提供客戶更高價值的產品與服務。<br></p>
          </div>
          <div class="text-[#000000] tracking-wide flex | lg:text-[25px]">
            <span>3.</span>
            <p>配備獨特之開放實驗室，協助客戶快速打樣、驗證、小量產到量產，<br>
              讓客戶掌握住快速興起商機。<br></p>
          </div>
          <div class="flex ml-5">
            <a href="javascript:;">
              <svg class="load" viewBox="25 25 50 50" style="max-width: 100px; max-height: 100px;">
                <circle class="loading" cx="50" cy="50" r="20" fill="none" transform="rotate(-90, 50, 50)"/>
                <image href="../../img/img/arrow-icon.svg" x="37" y="37" width="25" height="25" />
              </svg>  
            </a>                    
            <p class="text-[#000000] flex items-center | md:text-xl">企業情報</p>
          </div>
        </div>
      </div>
      <div class="center hidden ml-5 | md:flex md:w-1/2">
        <img src="../../img/img/pc-首頁-圖片.png">
      </div>
    </div>
  </section>
  <!-- 提供完美焊接製程方案 -->
  <section class="flex justify-end mt-20 | md:mt-60" data-aos="fade-up">
    <div class="bg-[#E6E6E6] w-[1789px] p-5 process | md:p-16">
      <div class="block process-text text-center -mt-10 | md:-mt-20 lg:flex lg:-mt-24 lg:mb-10">
        <h2 class="text-3xl | lg:text-4xl xl:text-5xl 2xl:text-[59px] | md:pr-5">提供完美焊接製程方案</h2>
        <h2 class="text-xl | lg:text-2xl lg:mt-2 xl:text-3xl 2xl:text-[50px] ">Enabling Perfect Soldering process</h2>
      </div>
      <div class="text-[#0070C0] center | lg:text-[#000000] md:block">
          <p class="text-sm tracking-wide px-3 text-center | md:text-xl lg:text-left md:p-0">成功為客戶大早出一條自動化支封裝生產線<br>
            主力產品固晶機專用於各類電力電子 (Power Electronics)晶片封裝</p>
      </div>
      <div class="w-[162px] h-[48px] bg-[#00B0F0] text-white rounded-sm mt-5 hidden | lg:center">
        <p>股票代碼5297</p>
      </div>
      <div class="-mt-32">
        <ol class="md:flex justify-between lg:px-5">
          <li class="relative item-inner | md:w-[22.5%] md:max-w-[320px]">
            <div class="item-inner-1 center | md:justify-start">
              <div class="tal" data-end="6">0</div>
              <p class="center pl-2 pb-3 items-end">個</p>
            </div>
            <div class="center flex-col">
              <img src="../../img/img/icon-1.png" alt="icon" class="py-11 hidden | md:block">
              <p class="py-5 text-lg font-medium">全球服務據點</p>
            </div>
          </li>
          <li class="relative item-inner | md:w-[22.5%] md:max-w-[320px]">
            <div class="item-inner-1 center | md:justify-start">
              <div class="tal" data-end="100">0</div>
              <p class="center pl-2 pb-3 items-end">個</p>
            </div>
            <div class="center flex-col">
              <div class="bg-white rounded-full px-10">
                <img src="../../img/img/icon-2.png" alt="icon" class="py-11 hidden | md:block">
              </div>
              <p class="py-5 text-lg font-medium">(Power Device)客戶</p>
            </div>
          </li>
          <li class="relative item-inner | md:w-[22.5%] md:max-w-[320px]">
            <div class="item-inner-1 center | md:justify-start">
              <div class="tal" data-end="10">0</div>
              <p class="center pl-2 pb-3 items-end">個</p>
            </div>
            <div class="center flex-col">
              <div class="bg-white rounded-full px-10 py-3 hidden | md:block">
                <img src="../../img/img/icon-3.png" alt="icon" class="py-11">
              </div>
              <p class="py-5 text-lg font-medium">國內外專利的核心技術</p>
            </div>
          </li>
          <li class="relative item-inner | md:w-[22.5%] md:max-w-[320px]">
            <div class="item-inner-1 center | md:justify-start">
              <div class="tal" data-end="8">0</div>
              <p class="center pl-2 pb-3 items-end">個</p>
            </div>
            <div class="center flex-col">
              <div class="bg-white rounded-full px-12">
                <img src="../../img/img/icon-4.png" alt="icon" class="py-11 hidden | md:block">
              </div>
              <p class="py-5 text-lg font-medium">國際級國家認證獎項</p>
            </div>
          </li>
        </ol>
      </div>
      <div class="w-[231px] h-[55px] bg-[#0070C0] process-btn | lg:w-[346px] lg:h-[104px]">
        <a href="" class="block w-full h-full">
          <div class="center h-full">
            <P class="pr-5 text-white font-normal text-[25px] | lg:text-[35px]">事業內容</P>
            <img src="../../img/img/arrow.svg">
          </div>
        </a>
      </div>
    </div>
  </section>
  <!-- 主要產品 -->
  <section class="mt-20 | md:mt-72">
    <div class="w-full | lg:flex">
      <div class="w-full px-3 | lg:block lg:w-1/2">
        <div class="block | lg:hidden">
          <h2 class="text-base text-text | lg:text-[25px]">主要產業與產品</h2>
          <h2 class="text-[58px] | md:text-[68px] lg:text-[78px] xl:text-[86px]">System</h2>
        </div>
        <div class="center">
          <img :src="currentProduct.images" alt="images" class="block mx-auto">
        </div>
      </div>
      <div class="w-full | lg:block lg:w-1/2 lg:pl-5 xl:pl-16 lg:-mt-20">
        <div class="hidden | lg:block">
          <h2 class="text-base text-text | md:text-[25px]">主要產業與產品</h2>
          <h2 class="text-[58px] | md:text-[68px] lg:text-[78px] xl:text-[86px]">System</h2>
        </div>
        <div class="mt-5 px-5 | lg:px-0">
          <ul class="max-w-[745px] md:pr-3">
            <li class="bg-[#0070C0] relative cursor-pointer mt-3 text-white text-lg | lg:text-[25px]" v-for="(product,index) in productList" :key="product.parents"
            v-on:click="toggleDropdownlist(index)">
            <a href="javascript:;" class="flex justify-between py-5 px-9 relative">{{product.parents}}
              <button type="button" class="product-icon" :class="'Product' + index" v-if="product.son.length > 0">
                <img src="../../img/img/right-icon.svg">
              </button>
            </a>
               <ul class="dropdown-list center flex-col " :class="{'open': product.isDropdownOpen }" v-if="product.son.length > 0">
                  <li class="w-full text-center" v-for="productSon in product.son">
                    <a class="block w-full" href="">{{productSon}}</a></li>
               </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- 解決方案 -->
  <section class="mt-20 | md:mt-40">
    <div class="text-left pl-8 | md:text-center md:pl-0">
      <p class="text-text text-[107px] font-bold relative -mb-6 Solution-number">2</p>
      <p class="text-lg text-text font-medium left-[8%] | md:text-3xl absolute md:left-[45%]">解決方案</p>
    </div>
    <div class="block | md:flex">
      <div class="w-full flex justify-end  pr-5 | md:hidden">
        <h2 class="font-bold text-[58px]">Solution</h2>
      </div>
      <div class="w-full px-5 mt-6 | md:w-1/2 md:mt-20 xl:mt-30 xl:ml-14">
        <img src="../../img/img/Solution.png" alt="Solution">
      </div>
      <div class="hidden | md:w-1/2 md:block md:pl-[10%] xl:pl-[5%]">
        <h2 class="font-bold text-[58px] | md:text-[88px] | xl:text-[118px] | 2xl:text-[157px]">Solution</h2>
      </div>
    </div>
    <div class="block mt-10 | md:flex md:-mt-16">
      <div class="w-full md:relative | md:w-1/2 md:flex md:pl-[10%]">
        <div class="flex px-8 md:absolute md:top-[55%] | md:text-center md:pl-0">
          <div class="w-1/2">
            <p class="text-text text-[107px] font-bold relative text-left -mb-6 Solution-numbers">3</p>
            <p class="text-lg text-text flex items-end  md:-ml-14 -mb-5 md:text-3xl">完整服務</p>
          </div>
          <div class="mt-24 mr-8 w-1/2 | xl:mt-20 2xl:mr-80">
            <h2 class="font-bold text-[58px] 
            | md:text-[88px] | xl:text-[118px] | 2xl:text-[157px]">Service</h2>
          </div>
        </div>
      </div>
      <div class="w-full px-5 mt-12 | md:w-1/2 md:mt-20 xl:mt-30 xl:ml-14">
        <img src="../../img/img/Service.png" alt="Service">
      </div>
    </div>
  </section>
  <!-- 最新消息&技術情報 -->
  <section class="mt-20 | md:mt-40">
    <div class="px-5 md:flex md:px-16 md:gap-20 xl:px-40 xl:gap-40">
      <div class="w-full | md:w-1/2">
        <div class="mb-8 md:mb-14">
          <h2 class="text-3xl pb-5 | md:text-[40px]">最新消息</h2>
          <p class="text-text text-lg | md:text-2xl"><span class="w-[11px] h-[11px] bg-text rounded-full inline-block"></span> News</p>
        </div>
        <ul class="news-menu">
          <li v-for="i in 3">
            <a href="javascript:;" class="news-link">
              <div class="flex gap-4 mb-4 | md:gap-8">
                <p>2022.2.22</p>
                <span class="news-tag">公司動態</span>
              </div>
              <p class="tracking-wide mb-4 text-lg | md:text-[25px]">賀! 廣化熱板式真空甲酸回焊爐榮獲2023台灣精品獎</p>
              <p class="tracking-wide">2022 Semicon 展Booth.486與您相見</p>
              <span class="arrow-icons"></span>
            </a>
          </li>
        </ul>
        <div class="mt-10 center justify-end arrow-icon">
          <a href="" class="text-xl center">查看更多
            <span class="ml-4"></span>
          </a>
        </div>
      </div>
      <div class="w-full mt-8 | md:w-1/2 md:mt-0">
        <div class="mb-8 md:mb-14">
          <h2 class="text-3xl pb-5 | md:text-[40px]">技術情報</h2>
          <p class="text-text text-lg | md:text-2xl"><span class="w-[11px] h-[11px] bg-text rounded-full inline-block"></span> News</p>
        </div>
        <ul class="news-menu">
          <li v-for="i in 3">
            <a href="javascript:;" class="news-link">
              <div class="flex gap-4 mb-4 | md:gap-8">
                <p>2022.2.22</p>
                <span class="news-tag">公司動態</span>
              </div>
              <p class="tracking-wide mb-4 text-lg | md:text-[25px]">Perfect your soldering Process part Ⅱ：Using Formic Acid Vacuum Reflow Oven to Realize Flux free, Void Free, Solder Free Soldering and easily meet EHS Standard</p>
              <p class="tracking-wide">2022 Semicon 展Booth.486與您相見</p>
              <span class="arrow-icons"></span>
            </a>
          </li>
        </ul>
        <div class="mt-10 center justify-end arrow-icon">
          <a href="" class="text-xl center">查看更多
            <span class="ml-4"></span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- 永續發展 -->
  <section class="mt-20 | md:mt-40">
   <div class="max-w-400 mx-auto">
     <h2 class="text-center font-medium text-3xl | md:text-[50px] md:text-left">廣化科技永續發展(ESG)</h2>
    </div>
  </section>
  <section class="overflow-hidden mb-10 | xl:pt-24" style="max-width: 100vw;">
    <div class="mountainSwiper w-[2500px]">
    <div class=" h-full cursor-move flex justify-center mountainBox">
      <div class="mountainItem">
        <ul class="perform-items">
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
        </ul>
        <div class="mountainBg">
          <div class="category">經濟</div>
        </div>
      </div>
      <div class="mountainItem">
        <ul class="perform-items">
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
        </ul>
        <div class="mountainBg">
          <div class="category">經濟</div>
        </div>
      </div>
      <div class="mountainItem">
        <ul class="perform-items">
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
          <li class="perform-item">
            <div class="dot"></div>
            <div class="value">1.3<span class="sub">兆元</span></div>
            <div class="description">帶動國內1.3兆元產值、22.4萬個就業機會（新台幣）</div>
          </li>
        </ul>
        <div class="mountainBg">
          <div class="category">經濟</div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- 聯絡我們 -->
  <My-contact></My-contact>
  <My-footer :product-data="productList"></My-footer>
</main>
<script src="../../Js/package/jquery-3.6.0.min.js"></script>
<script src="../../Js/package/swiper-bundle.min.js"></script>
<script src="../../Js/package/aos.js"></script>
<script src="../../Js/package/gsap.min.js"></script>
<script src="../../Js/package/ScrollTrigger.min.js"></script>
<script src="../../Js/package/jquery.dragscroll.js"></script>
<script type="module" src="../../Js/Home/index.js"></script>
</body>
</html>